.heading-font {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFFFFF; font-size: 40px;
  text-decoration:underline;
  padding-bottom: 2px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: -1px;
}
.fab-class {
  margin-top:-30px;
  margin-right:100px;
  background: #00BCD4;
}
